@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(https://i2.wp.com/images.axios.com/78IPB29QFmf5Db_Hp3RnpS8Yl3o=/1920x1080/smart/2017/12/15/1513305821489.gif);
  
}

::-webkit-scrollbar {
	display: none;
}

.large-mask {
	mask: url(/assets/masks/card-activity-large.svg);
}

@font-face {
	font-family: 'Whitney';
	src: url('https://cdn.skyra.pw/whitney-font/v2/Book.woff') format('woff');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Whitney';
	src: url('https://cdn.skyra.pw/whitney-font/v2/Medium.woff') format('woff');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Whitney';
	src: url('https://cdn.skyra.pw/whitney-font/v2/Semibold.woff') format('woff');
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Whitney';
	src: url('https://cdn.skyra.pw/whitney-font/v2/Bold.woff') format('woff');
	font-weight: 700;
	font-display: swap;
}
